/* 版心 */
.w {
  margin: 0 auto;
  width: 1200px;
}

.header {
  height: 84px;
  border-bottom: 2px solid #c81523;
}
.header .logo {
  position: relative;
  padding-top: 18px;
}
.header .logo span {
  display: block;
  position: absolute;
  left: 200px;
  bottom: 15px;
  width: 110px;
  height: 40px;
  font-size: 24px;
  color: #333;
}

.registerarea {
  margin-top: 20px;
  height: 622px;
  border: 1px solid #ccc;
}
.registerarea h3 {
  padding: 0 10px;
  height: 42px;
  line-height: 42px;
  font-weight: 400;
  background-color: #ececec;
  border-bottom: 1px solid #ccc;
}
.registerarea h3 .no_login {
  float: left;
  font-size: 18px;
}
.registerarea h3 .login {
  float: right;
  font-size: 14px;
}
.registerarea h3 .login a {
  color: #c81523;
}
.registerarea .reg_form {
  margin: 50px auto 0;
  width: 600px;
}
.registerarea .reg_form li {
  margin-bottom: 20px;
}
.registerarea .reg_form ul li label {
  display: inline-block;
  width: 88px;
  text-align: right;
}
.registerarea .reg_form ul li label[class]::before {
  margin-right: 2px;
  content: '*';
  color: red;
}
.registerarea .reg_form ul li input[id] {
  width: 242px;
  height: 37px;
  border: 1px solid #ccc;
}
.registerarea .reg_form .safe {
  padding-left: 165px;
}
.registerarea .reg_form .safe em {
  padding: 0 12px;
  color: #ececec;
}
.registerarea .reg_form .safe .ruo {
  background-color: #de1111;
}
.registerarea .reg_form .safe .zhong {
  background-color: #40b83f;
}
.registerarea .reg_form .safe .qiang {
  background-color: #f79100;
}
.registerarea .reg_form .agree {
  padding-left: 100px;
}
.registerarea .reg_form .agree input {
  vertical-align: middle;
}
.registerarea .reg_form .agree a {
  color: #1ba1e6;
}
.registerarea .reg_form input[type=submit] {
  margin: 30px 0 0 100px;
  width: 200px;
  height: 34px;
  background-color: #666;
  font-size: 14px;
  color: #fff;
}
.registerarea .reg_form ul li .succ {
  font-size: 12px;
  color: #40b83f;
}
.registerarea .reg_form ul li .succ i {
  display: inline-block;
  margin-right: 3px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: url(../images/success.png);
}
.registerarea .reg_form ul li .err {
  font-size: 12px;
  color: #de1111;
}
.registerarea .reg_form ul li .err i {
  display: inline-block;
  margin-right: 3px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: url(../images/error.png);
}
.registerarea .reg_form ul li .succ,
.registerarea .reg_form ul li .err {
  display: none;
}
.registerarea .reg_form ul li .getBtn {
  background-color: #ececec;
  color: black;
  width: 120px;
  height: 37px;
  line-height: 37px;
}
.registerarea .reg_form ul li {
  position: relative;
}
.registerarea .reg_form ul li input[id=yzm] {
  width: 120px;
}
.registerarea .reg_form ul li .show {
  position: absolute;
  right: 275px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}
.registerarea .reg_form ul li .noShow {
  background: url(../images/noshow.png) no-repeat;
  display: none;
}
.registerarea .reg_form ul li .okShow {
  background: url(../images/okshow.png) no-repeat;
  display: none;
}

.footer {
  padding-top: 30px;
  height: 125px;
  background-color: #f5f5f5;
}
.footer .mod_copyright {
  padding-top: 20px;
  text-align: center;
}
.footer .mod_copyright .links a {
  padding: 0 7px;
  color: #666;
  border-right: 1px solid #666;
}
.footer .mod_copyright .links a:last-child {
  border-right: 0;
}
.footer .mod_copyright .links a:hover {
  color: #c81623;
}
.footer .mod_copyright .copyright {
  padding-top: 20px;
  height: 40px;
  line-height: 20px;
  text-align: center;
}